<h1>School Class Form</h1>
<%= form_for @schoolclass do |f|  %>
<div>
<%= f.label :title %>
<%= f.text_field :title %><br>
</div>
<div>
<%= f.label :room_number %>
<%= f.text_field :room_number %>
</div>
<%= f.submit %>




<% end %>